@model MasterChef.Models.CategoriaModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Categoria</h4>
    <hr />
    @using (Html.BeginForm("Delete", "Categoria", FormMethod.Post))
    {
        <dl class="dl-horizontal">
            @Html.HiddenFor(model => model.Id)
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>
        </dl>

        <input type="submit" value="Delete" class="btn btn-default" /> <div>|</div>
        @Html.ActionLink("Back to List", "Index", "Categoria");
    }
</div>
