@model MasterChef.Models.CategoriaModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Categoria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Edit", "Categoria", FormMethod.Post))
        {
            @Html.ValidationSummary()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(c => c.Id)
            <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome</label>
                @Html.TextBoxFor(c => c.Nome, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Nome, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                @Html.TextBoxFor(c => c.Descricao, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Descricao, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index", "Categoria")
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
