@model MasterChef.Models.ReceitaModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Receita</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.Id)
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TempoPreparo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TempoPreparo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RendimentoPorcoes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RendimentoPorcoes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredientes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingredientes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModoPreparo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModoPreparo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cobertura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cobertura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InfoAdicional)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InfoAdicional)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CaminhoImagem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CaminhoImagem)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index", "Receita")
</div>
